.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* General Styles */
body {
  background-color: #3A0CA3;
  color: #E5E5E5;
  font-family: 'Arial', sans-serif;
}

.banner {
  margin-top: 56px;
  position: relative;
}

@media (max-width: 768px) {
  .banner {
      margin-top: 70px;
  }
}

.banner img {
  width: 100%;
  height: auto;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {
  .banner-text {
      display: none;
  }
}

.card {
  background-color: #2C056F;
  color: #E5E5E5;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-title {
  color: #22BFCF;
}

.card-text {
  color: #E5E5E5;
}

.btn-primary {
  background-color: #22BFCF;
  border-color: #22BFCF;
}

.btn-primary:hover {
  background-color: #1AA2B3;
  border-color: #1AA2B3;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #22BFCF;
}

footer a:hover {
  text-decoration: underline;
}
